:root {
  --background-color: ##e5e5e5;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --button-hover-color: #2196f3;
  --button-hover-text-color: #ffffff;
  --button-background-color: #f5f4fa;
}

.body {
  background-color: var(--background-color);
  font-family: roboto;
}


}
.nav-list .link {
  color: var(--primary-text-color);
}
.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--button-hover-color);
}

}
.contacts-list .contact {
  color: var(--secondary-text-color);
}
.contacts-list .contact:hover,
.contacts-list .contact:focus {
  color: var(--button-hover-color);
}
.offers-list .button {
  color: var(--primary-text-color);
  background-color: var(--button-background-color);
 
}
.offers-list .button:hover,
.offers-list .button:focus {
  color: var(--button-hover-text-color);
  background-color: var(--button-hover-color);
}
